<template>
  <div class="w-full h-full flex">
    <room-list :roomList="rooms" @change-room="changeRoom" />
    <room v-if="currentRoom" :roomId="currentRoom" />
    <default-view v-else />
  </div>
</template>

<script>
import { ChatService } from "../service/chat";
import Room from "../components/Room.vue";
import RoomList from "../components/RoomList.vue";
import DefaultView from "../components/DefaultView.vue";
export default {
  name: "Home",
  components: { RoomList, Room, DefaultView },
  data() {
    return {
      rooms: [1, 2, 3, 4],
      currentRoom: undefined,
    };
  },
  methods: {
    changeRoom(roomId) {
      this.currentRoom = roomId;
    },
  },
  mounted() {
    ChatService.listen();
  },
};
</script>
