<template>
  <div class="w-1/4 bg-gray-400 h-screen py-3 px-1 overflow-auto">
    <button
      @click.prevent="$router.push({ name: 'CREATE_ROOM' })"
      class="
        bg-blue-600
        text-white
        px-3
        py-1
        border-none
        focus:outline-none
        mb-3
      "
    >
      Create Room
    </button>
    <div
      class="text-left pl-3 py-2"
      @click.prevent="changeChannel(channel)"
      :key="channel.arn"
      v-for="channel in channels"
    >
      {{ channel.Name }}
    </div>
  </div>
</template>

<script>
import { APP_CHANNEL_TYPE } from "../constants/channel.constants";
import { convertArnToChannelId } from "../utils/common";

export default {
  name: "ChannelList",
  props: {
    channels: {
      type: Array,
      required: true,
    },
  },
  methods: {
    changeChannel(channel) {
      const channelId = convertArnToChannelId(channel.ChannelArn);
      this.$emit("change-channel", channelId);
      // this.$store.dispatch("setChannelInfo", {
      //   channelId: channel.id,
      //   channelArn: channel.arn,
      //   channelName: channel.name,
      // });
      // this.$router
      //   .push({ name: "ROOM", params: { id: channel.id } })
      //   .catch(() => {});
    },
    getChannelType(channel) {
      try {
        const metadata = channel && channel.Metadata;
        if (metadata) {
          const parsedData = JSON.parse(metadata);
          if (
            parsedData &&
            parsedData.AppChannelType === APP_CHANNEL_TYPE.THREAD
          )
            return APP_CHANNEL_TYPE.THREAD;
        }
        // eslint-disable-next-line no-empty
      } catch (err) {}
      return APP_CHANNEL_TYPE.STANDARD;
    },
  },
};
</script>
