<template>
  <div>
    <div
      class="
        hover:bg-gray-200
        bg-transparent
        p-2
        text-left
        rounded-sm
        relative
        group
      "
    >
      <div class="font-bold">{{ message.Sender.Name }}</div>
      <div>{{ message.Content }}</div>
      <button
        v-if="!message.ThreadChannelId && showReply"
        @click.prevent="showReplyThread = !showReplyThread"
        class="
          absolute
          hidden
          bg-white
          px-2
          py-1
          -top-2
          right-2
          group-hover:flex
        "
      >
        Reply
      </button>
    </div>
    <div
      class="flex flex-col w-3/4 ml-5 gap-5 mb-3"
      v-if="
        (threadMessages[message.MessageId] &&
          threadMessages[message.MessageId].length) ||
        showReplyThread
      "
    >
      <div class="flex flex-col">
        <channel-message
          v-for="(replyMessage, index) in threadMessages[message.MessageId] ||
          []"
          :key="index"
          :message="replyMessage"
          :channelId="channelId"
          :showReply="false"
        >
        </channel-message>
      </div>
      <message-input buttonLabel="Send reply" @on-send="onSendReply" />
    </div>
  </div>
</template>

<script>
import { ChimeService } from "../service/chime";
import MessageInput from "./MessageInput.vue";

export default {
  components: { MessageInput },
  name: "ChannelMessage",
  props: {
    message: { type: Object, required: true },
    channelId: { type: String, required: true },
    showReply: { type: Boolean, default: true },
  },
  data() {
    return {
      replyInput: "",
      showReplyThread: false,
    };
  },
  computed: {
    threadMessages() {
      return this.$store.state.ThreadMessage;
    },
  },
  methods: {
    async onSendReply(content) {
      if (this.message.MessageId) {
        await ChimeService.sendThreadMessage(
          this.channelId,
          this.message.MessageId,
          content
        );
      }
    },
  },
};
</script>

<style></style>
