<template>
  <div class="flex">
    <span v-if="channelInfo" class="text-lg font-bold capitalize">{{
      channelInfo.channelName
    }}</span>
    <span class="ml-auto bg-blue-600 text-white px-3 py-1" @click="onDelete()">
      Delete
    </span>
  </div>
</template>

<script>
import { ChimeService } from "../service/chime";
export default {
  props: {
    channelInfo: {
      type: Object,
    },
  },
  methods: {
    async onDelete() {
      await ChimeService.deleteChannelMessages(
        this.channelInfo.channelArn,
        true
      );
    },
  },
};
</script>

<style></style>
