<template>
  <div class="w-full h-full flex flex-col px-4 pt-2">
    <channel-header :channelInfo="channelInfo" />
    <div class="flex-1 flex flex-col overflow-auto mt-4 mb-2">
      <channel-message
        :key="index"
        v-for="(message, index) in messages"
        :message="message"
        :channelId="channelId"
      ></channel-message>
    </div>
    <message-input buttonLabel="Send" @on-send="sendMessage" />
  </div>
</template>

<script>
import { ChatService } from "../service/chat";
import { ChimeService } from "../service/chime";
import ChannelMessage from "./ChannelMessage.vue";
import MessageInput from "./MessageInput.vue";
import ChannelHeader from "./ChannelHeader.vue";

export default {
  name: "Room",
  components: { ChannelMessage, MessageInput, ChannelHeader },
  props: {
    channelId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      messageSubscription: undefined,
    };
  },
  methods: {
    async getRoomMessages() {
      const response = await ChimeService.listChannelMessages(this.channelId);
      return response;
    },
    async sendMessage(content) {
      await ChimeService.sendMessage(this.channelId, content);
    },
    async onDelete() {
      await ChimeService.deleteChannelMessages(this.roomId);
    },
  },
  async updated() {
    const channelId = this.channelId;

    // check channel messages
    const store = this.$store.state.ChannelMessage;
    const messages = store[channelId];
    if (!messages) {
      const messages = await ChimeService.listChannelMessages(channelId);
      this.$store.dispatch("addChannelMessage", {
        channelId,
        message: messages.standard,
      });
      Object.keys(messages.threadMessages).forEach((replyMessageId) => {
        this.$store.dispatch("addThreadMessage", {
          messageId: replyMessageId,
          message: messages.threadMessages[replyMessageId],
        });
      });
    }

    // check channel info
    const channelInforStore = this.$store.state.ChannelInfo;
    const channelInfo = channelInforStore[channelId];
    if (!channelInfo) {
      const channelInfo = await ChimeService.channelInfo(channelId);
      if (channelInfo.Channel?.Name && channelInfo.Channel.ChannelArn)
        this.$store.dispatch("setChannelInfo", {
          channelId,
          channelArn: channelInfo.Channel.ChannelArn,
          channelName: channelInfo.Channel.Name,
        });
    }
  },
  computed: {
    messages() {
      const channelId = this.channelId;
      const store = this.$store.state.ChannelMessage;
      return store[channelId];
    },
    channelInfo() {
      const channelId = this.channelId;
      const store = this.$store.state.ChannelInfo;
      return store[channelId];
    },
  },
  unmounted() {
    if (this.messageSubscription) {
      ChatService.removeListener(this.messageSubscription);
      this.messageSubscription = undefined;
    }
  },
};
</script>

<style></style>
