<template>
  <div class="w-full h-full flex items-center justify-center">
    Click on room to start messaging
  </div>
</template>

<script>
export default {
  name: "DefaultView",
  data() {
    return {};
  },
};
</script>
