<template>
  <form class="flex" @submit.prevent="onSend()">
    <input
      class="bg-gray-200 flex-1 px-2 focus:outline-none"
      v-model="inputMessage"
      type="text"
    />
    <button
      class="bg-blue-600 text-white px-3 py-1 border-none focus:outline-none"
      type="submit"
    >
      {{ buttonLabel }}
    </button>
  </form>
</template>

<script>
export default {
  name: "MessageInput",
  props: {
    buttonLabel: { type: String, required: true },
  },
  data() {
    return {
      inputMessage: "",
    };
  },
  methods: {
    async onSend() {
      const content = this.inputMessage;
      this.$emit("on-send", content);
      this.inputMessage = "";
    },
  },
};
</script>

<style></style>
