<template>
  <div class="flex w-full">
    <channel-list :channels="channels" @change-channel="changeChannel" />
    <channel :channelId="currentChannelId" />
  </div>
</template>

<script>
import {
  convertArnToChannelId,
  getMessageVariantDetails,
} from "../utils/common";
import { convertCreateMessagePayloadToChannelMessage } from "../utils/message";
import {
  MESSAGE_VARIANT,
  APP_CHANNEL_TYPE,
} from "../constants/channel.constants";

import { MESSAGE_TYPE } from "../constants/app.constants";

import { ChatService } from "../service/chat";
import { ChimeService } from "../service/chime";

import Channel from "./Channel.vue";
import ChannelList from "./ChannelList.vue";
export default {
  components: { Channel, ChannelList },
  props: {
    roomId: { type: Number, required: true },
  },
  data() {
    return {
      channels: [],
      currentChannelId: "",
    };
  },
  methods: {
    async filterMessagesAfter(channelId, unixTimestamp) {
      this.channelMessages[channelId] = this.channelMessages[channelId].filter(
        (message) =>
          message.CreatedTimestamp &&
          message.CreatedTimestamp.valueOf() > unixTimestamp
      );
    },
    async onChannelUpdate(payload) {
      const metadata = payload.Metadata;
      try {
        const { MessageDeletedAt } = JSON.parse(metadata);
        if (!MessageDeletedAt) return;
        const channelId = convertArnToChannelId(payload.ChannelArn);
        this.$store.dispatch("deleteChannelMessage", {
          channelId,
          deletedAt: Number(MessageDeletedAt),
        });
        this.filterMessagesAfter(channelId, Number(MessageDeletedAt));
      } catch (err) {
        return;
      }
    },
    async onNewChannelMessage(payload) {
      const messageVariantDetails = getMessageVariantDetails(payload);
      if (!payload.ChannelArn) return;
      const channelId = convertArnToChannelId(payload.ChannelArn);
      const chatMessage = await convertCreateMessagePayloadToChannelMessage(
        payload
      );
      if (
        messageVariantDetails.AppMessageVariant === MESSAGE_VARIANT.STANDARD
      ) {
        this.$store.dispatch("addChannelMessage", {
          channelId: channelId,
          message: chatMessage,
        });
      } else if (
        messageVariantDetails.AppMessageVariant ===
        MESSAGE_VARIANT.THREAD_MESSAGE
      ) {
        this.$store.dispatch("addThreadMessage", {
          messageId: messageVariantDetails.ReplyMessageId,
          message: chatMessage,
        });
      }
    },
    async changeChannel(channelId) {
      this.currentChannelId = channelId;
    },
  },
  watch: {
    roomId: {
      immediate: true,
      async handler(id) {
        this.channels = await ChatService.getChannelsInRoom(id);
      },
    },
  },
  async mounted() {
    ChatService.addListener(async (message) => {
      if (message.type === "CREATE_CHANNEL_MEMBERSHIP") {
        const {
          ChannelArn,
          Member: { Arn },
        } = JSON.parse(message.payload);
        const channelInfo = await ChimeService.channelInfo(ChannelArn, true);
        if (
          !channelInfo.Channel ||
          this.getChannelType(channelInfo.Channel) === APP_CHANNEL_TYPE.THREAD
        )
          return;
        const { Name } = channelInfo.Channel;
        if (!Name || !ChannelArn) return;
        if (Arn !== (await ChimeService.getChimeBearer())) return;
        this.channels.push({
          name: Name,
          arn: ChannelArn,
          id: convertArnToChannelId(ChannelArn),
        });
      } else if (message.type === MESSAGE_TYPE.CREATE_CHANNEL_MESSAGE) {
        const payload = JSON.parse(message.payload);
        this.onNewChannelMessage(payload);
      } else if (message.type === MESSAGE_TYPE.UPDATE_CHANNEL) {
        const payload = JSON.parse(message.payload);
        this.onChannelUpdate(payload);
      }
    });
  },
};
</script>

<style></style>
