<template>
  <div class="flex flex-col w-16 bg-gray-300 items-center">
    <div
      class="
        flex
        items-center
        w-10
        h-10
        mt-4
        justify-center
        rounded-full
        bg-blue-500
        text-white
      "
      :key="room"
      @click="$emit('change-room', room)"
      v-for="room in roomList"
    >
      {{ room }}
    </div>
  </div>
</template>

<script>
export default {
  name: "RoomList",
  props: {
    roomList: {
      type: Array,
      required: true,
    },
  },
};
</script>
