<template>
  <div class="flex flex-col flex-1 h-full items-center justify-center">
    <span class="text-lg">Add user</span>

    <form class="flex flex-col mt-8" @submit.prevent="onSubmit">
      <select class="mb-4" v-model="selectedUserArn">
        <option value="" selected disabled hidden>Select user</option>
        <option
          :key="user.AppInstanceUserArn"
          v-for="user in users"
          :value="user.AppInstanceUserArn"
        >
          {{ user.Name }}
        </option>
      </select>
      <button
        class="
          bg-blue-600
          text-white
          px-3
          py-1
          border-none
          focus:outline-none
          rounded-sm
          mt-3
        "
        type="submit"
      >
        Invite
      </button>
    </form>
  </div>
</template>

<script>
import { ChimeService } from "../../service/chime";

export default {
  name: "AddUserToChannel",
  data() {
    return {
      users: [],
      roomId: "",
      selectedUserArn: "",
    };
  },
  methods: {
    async onSubmit() {
      await ChimeService.createChannelMembership(
        this.selectedUserArn,
        this.roomId
      );
      this.$router.push({ name: "ROOM", params: { id: this.roomId } });
    },
  },
  mounted() {
    ChimeService.listUsers().then((response) => {
      this.users = response;
    });
  },
};
</script>

<style></style>
